<% if logged_in? %>
<p class='pull-right'>
  [<%= link_to 'Edit this Post', edit_post_path(@post) %>]
</p>
<% end %>
<p>
  <%= render @post.categories %>
</p>


<%= render 'shared/content_title', title: @post.title %>

<h3><%= @post.description %></h3>

<% if logged_in? %>
  <br/>
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/errors', obj: @comment %>
    <div class='control-group'>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 5, class: 'span4' %>
    </div>
    <%= f.submit 'Create comment', class: 'btn btn-primary' %>
  <% end %>
  <br/>
<% end %>
<h5>comments:</h5>

<% @post.reload.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>